doctype html
html
    head
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
        script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
        <![endif]-->

        title= "Mike and Holly"
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Limelight|Handlee|Indie+Flower", rel="stylesheet")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel='stylesheet', href='/css/style.css')
    body(id="page-top", data-spy="scroll", data-target=".navbar-fixed-top")

        // Navigation
        nav.navbar.navbar-hmm.navbar-fixed-top(role='navigation')
            .container
                .navbar-header.page-scroll
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar(style="background-color: yellow;")
                        span.icon-bar(style="background-color: yellow;")
                        span.icon-bar(style="background-color: yellow;")
                    a.navbar-brand.page-scroll(href='#page-top')
                        span(class="glyphicon glyphicon-heart" style='font-size: 2.5em; line-height: 0.5em')
                // Collect the nav links, forms, and other content for toggling
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav
                        // Hidden li included to remove active class from about link when scrolled up past about section
                        li.hidden
                            a.page-scroll(href='#page-top')
                        li
                            a.page-scroll(href='#events') Wedding Events
                        li
                            a.page-scroll(href='#hotels') Accommodations
                        li
                            a.page-scroll(href='#reno') Reno
                        li
                            a.page-scroll(href='#registry') Registry
                        li
                            a.page-scroll(href='#contact') Contact

        // /.navbar-collapse
            // /.container
        // Intro Section
        section#intro.intro-section
            ul#scene(style='height: 100%;')
                li.layer.starlight-front(data-depth="0.25")
                li.layer.starlight-mid(data-depth="0.20")
                li.layer.starlight-back(data-depth="0.15")
                li.layer.starlight-more-back(data-depth="0.10")
                li.layer.starlight-super-back(data-depth="0.05")
                li.layer(data-depth="0")
                    .vertical-center(style="height: 100%")
                        .container.text-center.center-block(style="margin-top: 50px;")
                            .row
                                .col-xs-12
                                    h1.white-text.font-limelight.bigtext Save the Date
                            .row
                                .col-xs-12
                                    h1.white-text.font-handlee Sunday, October 8th, 2017
                            .row
                                .col-xs-12
                                    h4.white-text.font-handlee for the wedding of
                            .row
                                .col-xs-12
                                    h1.yellow-text.font-handlee.bigtext <span class="avoidwrap">Holly Marie Spohn &</span> <span class="avoidwrap">Michael Joseph Mason</span>
        section#timer.timer-section
            .container
                .row
                    .col-md-3.col-md-offset-1
                        img(src='/img/bride.png', height='200px')
                    .col-md-4
                        h1.days-counter
                            script.
                                var startd = Date.now();
                                var endd = Date.parse('Sun, 08 Oct 2017 16:00:00 PDT');
                                var diff = new Date(endd - startd);
                                var days = diff / 1000 / 60 / 60 / 24;
                                document.write(Math.max(Math.floor(days), 0));
                        h1 Days Remaining
                    .col-md-3
                        img(src='/img/groom.png', height='200px')
        section#events.events-section
            .container
                .row
                    .col-lg-12
                        h1 Wedding Events
                        p We are delighted to have you join us for our wedding celebration weekend.  We’ve planned a night-before gathering on Saturday, October 7th if you’d like to hang out with us before the big day on Sunday, October 8th.
                        p We’d love you to join us for both events if you can!
                .row.hidden-sm.hidden-xs
                    hr.yellow-split
                .row
                    .col-md-3.vertical-center
                        a(href='https://www.facebook.com/StampSocialClub', target='_blank')
                            img.event-location.center-block(src='/img/stamp.jpg')
                    .col-md-9.text-left
                        h2 The Night Before
                        h4 Saturday, October 7th, 7pm - 9pm
                        a(href='https://goo.gl/maps/9tuJ46MetaQ2', target='_blank')
                            h4.
                                Stamp Social Club @ The Basement<br>
                                50 South Virginia Street<br>
                                Reno, NV  89501
                        p Join us Saturday night for a chill (optional) evening of fresh cocktails, beer and wine in a funky new downtown setting. Stamp Social Club is part of The Basement Reno, located beneath the historic 1933 U.S. Post Office. Inspired by global travel, Stamp serves creative cocktails and elevated hospitality in a positive, social atmosphere. The first round of beer, wine, or well drink is on us! No need to RSVP, just come and go as you please. If you’re looking for a place to grab dinner first there are plenty of diverse options in the downtown area, or close by in the Midtown district. Feel free to <a class="page-scroll" href="#contact" style="text-decoration: underline;">contact us</a> for more specific dinner recommendations.
                .row
                    .col-md-3.hidden-md.hidden-lg.vertical-center
                        a(href='http://www.thegrovereno.com/', target='_blank')
                            img.event-location.center-block(src="/img/grove.jpg")
                    .col-md-9.text-left
                        h2 Wedding Day
                        h4 Sunday, October 8th, 4pm - 10pm
                        a(href='https://goo.gl/maps/tGUcCJXNbpw', target='_blank')
                            h4.
                                The Grove<br>
                                95 Foothill Road<br>
                                Reno, NV  89511
                        p.
                            Our ceremony will be outdoors on the patio at The Grove and will start at 4pm.
                            Feel free to arrive early and enjoy some pre-ceremony live brass quintet music starting at 3:30
                            and take in the beautiful mountain views. Immediately following the ceremony the party will move indoors
                            to The Grove's Great Room for an evening of celebration.
                            Cocktails and passed appetizers will keep your palette piqued until our seated dinner begins.
                        p Make sure you <a class="page-scroll" href="#contact" style="text-decoration: underline;">contact us</a> to request your favorite songs and keep those toes a tappin! We’ll see you out on the dance floor!
                    .col-md-3.hidden-sm.hidden-xs.vertical-center
                        a(href='http://www.thegrovereno.com/', target='_blank')
                            img.event-location.center-block(src="/img/grove.jpg")
        section#hotels.hotels-section
            .container
                .row
                    .col-lg-12.text-left
                        h1.text-center Accommodations
                        h2 Group Rate Hotel
                        a(href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Mason%20and%20Spohn%20Wedding%20Block%5ERNORI%60SWZSWZA%7CSWZSWZB%7CSWZSWZC%60119-199%60USD%60false%605%6010/7/17%6010/9/17%609/7/17&amp;app=resvlink&amp;stop_mobi=yes", target="_blank")
                            h4.
                                The Residence Inn by Marriott<br>
                                9845 Gateway Drive<br>
                                Reno, NV 89521<br>
                                (775) 853-8800
                        p(style="margin-bottom: 20px;").
                            We made arrangements for a block of rooms at the Residence Inn by Marriott, located 0.7 miles from The Grove. Just <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Mason%20and%20Spohn%20Wedding%20Block%5ERNORI%60SWZSWZA%7CSWZSWZB%7CSWZSWZC%60119-199%60USD%60false%605%6010/7/17%6010/9/17%609/7/17&amp;app=resvlink&amp;stop_mobi=yes" target="_blank">click here</a> to get more information about the wedding block room rates and book directly online. Or call the hotel directly and ask to reserve a room in the “Mason and Spohn Wedding Room Block”.
                        strong You must book BEFORE Thursday, September 7th, 2017 in order to receive the special group rates. Rooms at the group rates are limited so we encourage you to book early!</strong>
                        p(style="margin-top: 20px").
                            The group rates include shuttle to and from the airport (8am-8pm), as well as a shuttle to and from The Grove up until 10pm. Please call the hotel in advance to confirm shuttle details and make reservations. Complimentary hot buffet breakfast and a fully-equipped kitchen/kitchenette are also included with all rooms.
                        p The group rates are valid for Saturday and Sunday nights of the wedding event weekend. They are valid for up to 2 nights pre and post event as well, based upon availability. Please note, you will need to call the hotel directly in order to book a room for those extra nights; just ask for Aaron or Jared.
                        h2 Other Hotels
                        p There is a Hilton hotel just around the corner from The Residence Inn:
                        a(href="http://hiltongardeninn3.hilton.com/en/hotels/nevada/hilton-garden-inn-reno-RNOGIGI/index.html", target="_blank")
                            h4.
                                The Hilton Garden Inn<br>
                                9920 Double R Blvd<br>
                                Reno, NV 89521<br>
                                (775) 850-9700
                        p There are additional hotels/brands elsewhere in the Reno area. There are also casino hotels in downtown Reno.
                        p The following map shows The Grove (wedding venue) located on the south side of Reno just west of highway 395/580 (purple symbol); the hotels mentioned above are on the east side of the highway (gold symbols).
                .row
                    .col-lg-12.text-center
                        //a.btn.btn-primary(role='button', data-toggle='collapse', href='#collapseExample', aria-expanded='true', aria-controls='collapseExample')
                            | Toggle Map
                        //#collapseExample.collapse(style="padding-top: 20px;")
                        div.overlay(onClick="style.pointerEvents='none'")
                        iframe(src="https://www.google.com/maps/d/embed?mid=13s7Qet9Dp5-zMq6AiyS-4H1_gvc&hl=en", width="75%", height="480")
        section#reno.reno-section.vertical-center
            .container.center-block
                .row
                    h1 Things To Do in Reno
                each cat, cat_title in todo
                    .row.text-left
                        .col-md-12
                            h3 #{String(cat_title)}:
                    .row.text-left
                        .col-md-offset-1.col-md-11
                            each item, index in cat
                                p
                                    -if (item.highlight)
                                        i.glyphicon.glyphicon-star
                                    span.bold
                                        a(href="#{item.link}", target="_blank") #{item.title}
                                    span  - #{item.desc}
        section#registry.registry-section.vertical-center
            .container.center-block
                .row
                    .col-lg-12
                        h1 Gift Registry
                        p Where are we registered you ask? What would help make our home sparkle and shine you ask? Keep scrolling and those answers will be revealed to you! If you order online through these links your gifts will automatically be shipped to our home address.
                        p If you’d like to ship the gifts some other way, please <a class="page-scroll" href="#contact" style="text-decoration: underline;">contact us</a> for our address.
                .row
                    hr.purple-split
                .row(style="padding-top:50px;")
                    .col-md-6.col-md-offset-3
                        a(href="https://www.macys.com/wgl/registry/guest/6760391", target="_blank")
                            img(src='/img/macys.png', style='width: 70%; max-width: 300px;')
                .row(style="padding-top:50px;")
                    .col-md-6.col-md-offset-3
                        a(href="https://smile.amazon.com/wedding/holly-spohn-mike-mason-reno-october-2017/registry/1I3W28RF85GAD", target="_blank")
                            img(src='/img/amazon.png', style='width: 70%; max-width: 300px;')
        section#contact.contact-section
            ul#scene2(style='height: 100%;')
                li.layer.starlight-front(data-depth="0.25")
                li.layer.starlight-mid(data-depth="0.20")
                li.layer.starlight-back(data-depth="0.15")
                li.layer.starlight-more-back(data-depth="0.10")
                li.layer.starlight-super-back(data-depth="0.05")
                li.layer#scene-2-root-layer(data-depth="0")
                    .container.text-center
                        .row
                            h1 Contact Us
                        .row
                            h2 Please email us to:
                        .row
                            p RSVP
                            p Request a song
                            p Ask a question
                            p Tell us a joke
                        .row
                            h3
                                a(href="mailto:HollyAndMikeMasonWedding@gmail.com", style="color: white; text-decoration: underline;") HollyAndMike&#8203;MasonWedding&#8203;@gmail.com
                        .row
                            .col-md-6.col-md-offset-3
                                img.footer-image(src='/img/wine_time.jpg', style="width: 100%;")

    script(src='/js/jquery.min.js')
    script(src="/js/jquery.parallax.min.js")
    script(src='/js/jquery.easing.min.js')
    script(src='/js/scrolling-nav.js')
    script(src='/js/scripts.js')
    script(src='/js/bootstrap.min.js')
